@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

:root {
    /* color scheme */
--primary-color: #161214;
--secondary-color: #B30606;
--secondary-color-light: #f00404;
 --secondary-color-dark: #700000; /* #5B0000 */
--tertiary-color: #8A286F;
--complimentary-color-light: #06ffff;
--text-color: #e6f0f5;
--complimentary-color-dark: #06B3FF;

/* fonts */
--accent-font: "Bebas Neue", ariel, cursive;
--primary-font: poppins, helvetica, "sans-serif"

}

html{
 font-size: 62.5%; /*used to set each rem unit to 10 pixels, easier to work with font sizes */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--secondary-color-light);
    font-size: 7rem;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px white;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "hero-img hero-img hero-img"
    "... gym-class-cards ..."
    "... about-us ..."
    "footer footer footer";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;

}

header {
    grid-area: header;
    size: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5rem 0 1rem 0;
    border: 0.3rem solid var(--secondary-color-dark);

}
header ul {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}
#hero-img-container{
    grid-area: hero-img;
}

#hero-img-container div{
    display: flex;
    justify-content: center;
}

#hero-img-container img{
width: 100%;
max-width: 100%;
aspect-ratio: 3/1;
object-fit: cover;
}

#gym-class-cards{
    grid-area: gym-class-cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

#gym-class-cards-header {
    display: flex;
    justify-content: center;
grid-column: 1/4;
padding: 4rem 0 0 0;
}

#gym-class-cards img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 6/4;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.gym-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us {
    grid-area: about-us;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#about-us h2{
    grid-column: 1/7;
    text-align: center;
    padding: 5rem 0 0 1rem;
}
#about-us h3{
    text-align: center;
}
#about-us-container {
    grid-column: 2/6;
    display: grid;
     grid-template-columns: repeat(6, 1fr); /*another grid needed, as divs are required for borders and layout purposes */
     grid-template-rows: auto auto;
     grid-gap: 2rem;
}
#about-us-block{
    grid-column: 1/4;
}
#about-us-block ul {
    list-style-type: none;
}
#virtual-tour-block{
    grid-column: 4/7;
}
#virtual-tour-block video {
    max-width: 100%;
}

/* Footer */
footer {
    grid-area: footer;
    border: 0.3rem solid var(--secondary-color-dark);
    margin-top: 5rem;
}