@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Poppins&display=swap');

:root {
        /* color scheme */
--primary-color: #161214;
--secondary-color: #B30606;
--secondary-color-light: #f00404;
 --secondary-color-dark: #700000; /* #5B0000 */
--tertiary-color: #8A286F;
--complimentary-color-light: #fbff0fef;
--text-color: #e6f0f5;

/* fonts */
--accent-font: "Bebas Neue", ariel, "sans-serif";
--accent-font-light:'Oswald', ariel, "sans-serif";
--primary-font: poppins, helvetica, "sans-serif"
}

html{
 font-size: 62.5%; /*used to set each rem unit to 10 pixels, easier to work with font sizes */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2,h3{
    color: var(--secondary-color-light);
    font-family: var(--accent-font-light);
    text-align: center;
}

h1 {
    font-family: (--accent-font);
    font-size: 8rem;
    letter-spacing: 1.1rem;
    color: var(--secondary-color-light);
    text-shadow: 3px 3px 4px white;
}
h2{
    font-size: 2.25rem;
    letter-spacing: 0.25rem;
}

h3{
    margin-top: 0.5rem;
    font-size: 1.85rem;
    letter-spacing: 0.5rem;
}
p{
    font-size: 1.70rem;
}
ul{
    color: var(--text-color);
    font-family: var(--primary-font);
}

a{
    color: var(--text-color);
    font-size: 4rem;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "hero-img hero-img hero-img hero-img hero-img"
    "... gym-class-cards gym-class-cards gym-class-cards ..."
    "... about-us about-us about-us ..."
    "footer footer footer footer footer";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

header {
    grid-area: header;
    size: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 8.5rem 0 2rem 0;
    border-bottom: 0.3rem solid var(--secondary-color-dark);
    color: var(--text-color);
}
header ul {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--accent-font);
    font-size: 3rem;
}
#hero-img-container{
    grid-area: hero-img;
}

#hero-img-container div{
    display: flex;
    justify-content: center;
}

#hero-img-container img{
width: 100%;
max-width: 100%;
aspect-ratio: 3/1;
object-fit: cover;
border-top: 0.3rem solid var(--secondary-color-dark);
border-bottom: 0.3rem solid var(--secondary-color-dark);
}

#gym-class-cards{
    padding: 2rem 0 4rem 0;
    grid-area: gym-class-cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
}

#gym-class-cards-header {
    display: flex;
    justify-content: center;
grid-column: 1/4;
padding: 4rem 0 0 0;
}
#gym-class-cards-header span{
    color: var(--complimentary-color-light)
}
#gym-class-cards img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 6/4;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.gym-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid var(--secondary-color-dark);
    border-radius: 1rem;
}
.gym-card p{
    padding: 2rem;
}
.gym-card button{
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 1rem 0 3rem 0;
    border: none;
    border-radius: 0 0 1rem 1rem;
    font-size: 2.5rem;
    background-color: transparent;
}
.gym-card button:hover{
    animation-name: shake;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
#about-us {
    grid-area: about-us;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 4rem;
    grid-gap: 4rem;
}
#about-us h2{
    grid-column: 1/7;
    text-align: center;
    padding: 5rem 0 0 1rem;
}
#about-us h3{
    padding-bottom: 2rem;
}

#about-us p{
    padding-bottom: 2rem;
}
#about-us-block{
    grid-column: 2/4;

}

#about-us-block ul {
    list-style-type: none;
    padding: 0;
}
#about-us-block ul li{
    padding: 0.5rem;
}
#virtual-tour-block{
    grid-column: 4/7;
}
#virtual-tour-block video {
    max-width: 100%;
    border: 0.3rem solid var(--secondary-color-dark);
}

/* Footer */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-top: 0.3rem solid var(--secondary-color-dark);
    padding: 3.5rem;
    margin-top: 5rem;
}
#footer-information-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    }
    
    #contact-us-container{
        grid-column: 2/4;
        display: flex;
    flex-direction: column;
    align-items: space-between;
    }

    #google-maps {
        grid-column: 4/6;
        max-width: 100%;
        height: 100%;
        outline: 0.3rem solid var(--secondary-color-dark);
    }

    #contact-us-container h2{
        margin-bottom: 2.5rem;
    }
    #contact-information-container li {
    list-style-type: none;
}
#contact-information-container li{
    padding: 0.5rem;
}
.contact-us-icon{
    margin-right: 1rem;
    color: var(--secondary-color);
}

    #social-media-icons-container{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 3rem;
        font-size: 5rem;
        width: 70%;
    }
    .fa-brands{
        transition: 300ms;
        color: var(--secondary-color);
        -webkit-text-stroke: 0.05px white;
    }
    .fa-brands:hover{
        color: var(--complimentary-color-light);
        transform: scale(1.1);
    }

    /* Animations */
@keyframes shake {
    0% {
    transform: rotate(-15deg) translateX(1.5rem);
    }
    20% {
    color: yellow;
    transform: rotate(15deg) translateX(-1.5rem);
    }
    40% {
    transform: rotate(-15deg) translateX(1.5rem);
    }
    60% {
    color: yellow;
    transform: rotate(50deg) translateX(-1.5rem);
    }    
    80% {
    transform: rotate(-65deg) translateX(1.5rem);
    }
    100% {
    color: yellow;
    transform: rotate(-15deg) translateX(1.5rem);
    }
} 